/* Format for font size */
.section-title {
    font-size: 72px;
    font-family: 'Roboto', sans-serif;
    color: #73C9E4;
    margin-left: 50px;
    margin-bottom: 30px;
}
p {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    line-height: 1.5;
}
.nav h1 {
    margin-left: 80vw;
    font-family: 'Roboto', sans-serif;
    color: #73C9E4;
}
.nav h1:hover {
    cursor: pointer;
    margin-left: 80vw;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}
a:active {
    color: #73C9E4;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: #73C9E4;
    background-color: transparent;
    text-decoration: underline;
}
a {
    color: #73C9E4;
    background-color: transparent;
    text-decoration: underline;
}



body {
    position: relative;
    min-width:1200px;
    margin: 0;
    padding: 0;
    
    background-color: #121212;

    overflow-x: hidden;
    display: flex;
    flex-direction: column;
 }
 .hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../assets/img/20200918_184435.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
 }
 .hero-filter {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgba(38, 29, 135, .5);
 }
 .hero-content {
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
    z-index: 10;
 }
 .hero-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
    display: inline-block;
    width: 100vw;
 }
 .typed-cursor{
    font-size: 4rem;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

 .hero-arrow {
     z-index: 10;
     transform: translateX(-50%);
     position: absolute;
     left: 50%;
     top: 90%;
 }
.fade-out {
    opacity: 0;
    transition: 1s;
}
.fade-half {
    opacity: .5;
    transition: 1s;
}
.fade-in {
    opacity: 1;
    transition: 1s;
}

 /* Project Menu Layout. */
 .projects {
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}


.project1, .project2, .project3 {
    width: 40%;
    height: 200px;
    border-radius: 5px;
    background: rgba(255, 255, 255, .07);
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    transition-duration: .15s;

    color: #ffffff;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project_1-description, .project_2-description, .project_3-description{
    width: 40%;
    height: 200px;
    border-radius: 5px;
    background: rgba(255, 255, 255, .07);
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button {
    position: absolute;
    background: rgba(187, 134, 252, 1);
    box-shadow: 0 0 0 3pt #a25ef5;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transition-duration: .5s;
    top: 75%;
    opacity: 0;
    z-index: 0;
}
.button:hover {
    cursor: pointer;
    box-shadow: 0 0 2pt 3pt #ffffff;
    transition-duration: .15s;
}
#button2:hover {
    cursor: default;
    box-shadow: 0 0 0 3pt #a25ef5;
    transition-duration: .15s;
}
.visible {
    opacity: 1;
}
.hide_button {
    position: absolute;
    z-index: -10;
}

.description-text {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 2;
    z-index: -10;
}


.project1 {
    position: absolute;
    top: 0vh;
    left: 1vw;
    
    background: linear-gradient( rgba(38, 29, 135, .5), rgba(38, 29, 135, .5) ), url(../../assets/img/20200918_184435.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 10;
}

.hover-border {
    box-shadow: 0 0 3pt 2pt #ffffff;
    transition-duration: .25s;
}

.project_1-description {
    position: absolute;
    top: 0vh;
    left: 1vw;
}

.project2 {
    position: absolute;
    top: 300px;
    left: 1vw;
    background: linear-gradient( rgba(98, 0, 238, 0.3), rgba(98, 0, 258, 0.3) ), url(../../assets/img/self-driving-car-lighter.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 10;
}
.project_2-description {
    position: absolute;
    top: 300px;
    left: 1vw;
}

.project3 {
    position: absolute;
    top: 600px;
    left: 1vw;
    background: linear-gradient( rgba(55, 0, 179, 0.5), rgba(55, 0, 179, 0.5) ), url(../../assets/img/leg_contracted.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.project_3-description {
    position: absolute;
    top: 600px;
    left: 1vw;
    z-index: -10;
}


.footer {
    margin-top: 100px;
    position: relative;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}


.animation {
    position: absolute;
    left:0;
}
.robot {
    opacity: .5;
}
.robot img:first-child {
    display: block;
}
.robot img {
    display: none;
}

.computer {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: .5;
}

.light {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:-1;
    opacity: 0;
}
.lamp {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
}
.desk {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
}

.my_information {
    /* transform: translateX(-10%); */
    margin-right: 50px;
    padding-right: 0px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;
    background: rgba(255, 255, 255, .07);
    width: 100%;
}

.text {
    font-size: 28px;
    margin-bottom: 14px;
}

.turn-on {
    opacity: 1;
}

.slideright {
    font-size: 0px;
    transform: translateX(115%);
    transition-duration: .25s;
}
.unslide {
    font-size: 28px;
    transform: translateX(0vw);
    transition-duration: .15s;
}

.grow {
    height: 500px;
    transition-duration: .25s;
}
.ungrow {
    height: 200px;
    transition-duration: .15s;
}

.grow2 {
    height: 42vh;
    transform: translate(45vw, -22vh);
    transition-duration: .25s;
}
.ungrow2 {
    height: 20vh;
    transform: translate(45vw, 0vh);
    transition-duration: .15s;
}

/* Formatting divs/containers for quadruped html. */
.pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 40px;
    padding-right:40px;
    margin-left: 50px;
    padding-bottom: 50px;
    margin-right:50px;
    border-radius:5px;
    background: rgba(255, 255, 255, .07);
    height: 875px;
    margin-bottom: 100px;
}
.Design .pictures {
    height: auto;
}
.Design .pictures-text {
    width: 80%;
}
.pictures-column1 {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-content: space-between;
    width: 40%;
    padding-right: 20px;
    height: 100%;
}
.pictures-column2 {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    width: 20%;
    height: 100%;
}
.pictures-row1 {
    display: flex;
    flex-direction: row;
    padding-bottom: 45px;
    height:55%;
}
.pictures-row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:45%;
    padding-bottom: 30px;
}
.picture-text-white{
    font-size: 36px;
    font-weight: 900;
    color: #ffffff;
    margin-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    text-align: center;
    width: 100%;
}
.picture-text{
    font-size: 36px;
    font-weight: 900;
    color: #121212;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
    width: 100%;
}

.Design .pictures {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
}
.Design .pictures-column1 {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: space-between;
    width: 60%;
    padding-right: 20px;
    height: auto;
}
.Design .pictures-row1 {
    height: 700px;
}
.Design .pictures-row2 {
    height: 400px;
}

@media only screen and (max-width: 1500px) {
    .Controller .pictures {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
    }
    .Controller .pictures-column1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        padding-right: 20px;
        height: auto;
    }
}

#img_body {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    background: url(../../assets/img/body_more_canvas_colored.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#img_one_note_leg_representation {
    width: 50%;
    height: 100%;
    border-radius: 11px;
    margin-right: 20px;
    background: url(../../assets/img/one_note_leg_representation.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 3pt 1pt rgba(255, 255, 255, .14);
}
#img_spool {
    width: 50%;
    min-width: 330px;
    height: 100%;
    border-radius: 11px;
    margin-left: 20px;
    background: url(../../assets/img/one_note_spool_representation.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 3pt 1pt rgba(255, 255, 255, .14);
}
#img_shock_absorber {
    width: 50%;
    height: 100%;
    border-radius: 11px;
    margin-left: 10px;
    background: url(../../assets/img/shock_absorber_and_ankle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#img_wheel {
    width: 50%;
    height: 100%;
    border-radius: 11px;
    margin-left: 10px;
    background: url(../../assets/img/autodesk_wheel.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#img_leg_extended {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    background: url(../../assets/img/leg_extended.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.Assembly .pictures {
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 0px;
}
.Assembly .pictures-row1 {
    height: 500px;
    width: 80%;
}
.Assembly .pictures-column1 {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-content: space-between;
    width: 100%;
    padding-right: 40px;
    height: 100%;
}
.Assembly .pictures-column2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    width: 100%;
    height: 100%;
}
.Assembly .pictures-text {
    width: 80%;
}
#img_printed_parts {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    background: url(../../assets/img/printed_parts.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 3pt 1pt rgba(255, 255, 255, .14);
}
#img_assembled_robot {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    background: url(../../assets/img/assembled_robot.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 3pt 1pt rgba(255, 255, 255, .14);
}
.Simulation {
    min-width: 1050px;
}
.Simulation .pictures {
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.Simulation .pictures-column1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-between;
    width: auto;
    padding-right: 20px;
    height: 100%;
}
.Simulation .pictures-column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}
.Simulation .pictures-row1{
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0px;
}
.Simulation .pictures-row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 500px;
    width: 80%;
    margin-top: 45px;
}
.Simulation .pictures-text {
    width: 80%;
}

#img_one_note_base {
    width: 33%;
    margin-right: 20px;
    border-radius: 11px;
    background: url(../../assets/img/base_link.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 3pt 1pt rgba(255, 255, 255, .14);
}
#img_one_note_thigh {
    width: 33%;
    margin-right: 20px;
    border-radius: 11px;
    background: url(../../assets/img/thigh_shape.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 3pt 1pt rgba(255, 255, 255, .14);
}
#img_one_note_shin {
    width: 33%;
    border-radius: 11px;
    background: url(../../assets/img/shin_shape.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 3pt 1pt rgba(255, 255, 255, .14);
}
#img_one_note {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    background: url(../../assets/img/one_note_.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 3pt 1pt rgba(255, 255, 255, .14);
}
#img_one_note_circles_one {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    background: url(../../assets/img/circles_one.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 3pt 1pt rgba(255, 255, 255, .14);
    margin-left: 20px;
}
#img_one_note_circles_two {
    width: 100%;
    height:100%;
    border-radius: 11px;
    background: url(../../assets/img/circles_two.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 3pt 1pt rgba(255, 255, 255, .14);
    margin-right: 20px;
}
#video_sim_robot {
    height: 350px;
    border-radius: 11px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 10px;
}
#another_sim_vid {
    width: 80%;
    border-radius: 11px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* .Controller .pictures{
    background-color: #121212;
    flex-direction: row;
} */
#phone {
    position: relative;
    width: 370px;
    min-width: 370px;
    height: 820px;
    min-height: 820px;
    /* height: 820px; */
    border-radius: 26px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 0 3pt #BB86FC;
    margin-left: 40px;
    margin-right: 50px;
    background-color: #121212;
}
#phone_screen {
    position: absolute;
    top: 22px;
    left: 10px;
    width: 350px;
    /* height: 820px; */
    border-radius: 11px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* outline: 5px solid #BB86FC; */
    box-shadow: 0 0 3pt 2pt #BB86FC;
}
#vol_button1 {
    position: absolute;
    top:85px;
    left:373px;
    width:5px;
    height: 45px;
    background-color: #BB86FC;
}
#vol_button2 {
    position: absolute;
    top:135px;
    left:373px;
    width:5px;
    height: 45px;
    background-color: #BB86FC;
}
#power_button {
    position: absolute;
    top:230px;
    left:373px;
    width:5px;
    height: 45px;
    background-color: #BB86FC;
}
.Controller .pictures {
    height: auto;
}
/* .Controller .pictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 40px;
    height: auto;
}
.Controller .pictures-text {
    width: 80%;
} */

.FirstStep .pictures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding-top: 0px;
    height: auto;
}
.FirstStep .pictures-text {
    width: 80%;
    margin-left: 0px;
    margin-right: 0px;
}
#first_step_vid {
    margin-top: 40px;
    width: 80%; /*  Weird Video, constrained height, though trick to constrain to width. */
    border-radius: 11px;
    box-shadow: 0 0 3pt 1pt rgba(255, 255, 255, .14);
    margin-bottom: 40px;
}


/**  Speech Bubble. */
.box1 {
    width: 500px;
    height:200px;
    margin: 50px auto;
    border: 4px solid #BB86FC;
    padding: 20px;
    text-align: center;
    position: relative;
    border-radius: 11px;
}
.right:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 20px solid #BB86FC;
    border-right: 20px solid transparent;
    border-top: 20px solid #BB86FC;
    border-bottom: 20px solid transparent;
    right: -40px;
    top: 20px;
}

.left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid #BB86FC;
    border-top: 20px solid #BB86FC;
    border-bottom: 20px solid transparent;
    left: -40px;
    top: 20px;
  }

/* Here is for the spool image page. */
.PageImage .pictures-row2 {
    height: 75%;
}
.PageImage .pictures-column1 {
    width: 40%;
    padding-right: 0px;
}
.PageImage #img_spool {
    width: 100%;
}
.PageImage .pictures {
    justify-content: center;
}

/* Simplified Robot Diagram. */
#SimplifiedRobotDiagram #img_one_note_leg_representation {
    width: 100%;
}

/* Highlighted Image Body*/
#img_body_page .pictures-column1 {
    width: 60%;
}
#img_body_page .pictures-row2 {
    height: 60%;
}
